XML files/cars.xsd

<?xml version="1.0" econding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model" type="xs:string"/>
        <xs:element name="year" type="xs:int"/>
        <xs:element name="price" type="xs:int"/>
        <xs:element name="mileage" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
