XML files/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
       <xs:element name="customers">
              <xs:complexType>
                     <xs:sequence>
                          <xs:element name="name" type="xs:string"></xs:element>
                          <xs:element name="phone" type="xs:int"></xs:element>
                          <xs:element name="email" type="xs:string"></xs:element>
                    </xs:sequence>
              </xs:complexType>
        </xs:element>
</xs:schema>
